.header {
  position: relative;
}
nav {
  padding: 0 1rem;
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}

.center {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
}
.nav-wrapper {
  display: flex;
  justify-content: space-around;
}
.nav-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.nav-colums {
  display: flex;
}
.header_info-wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 60px;
  color: #263238;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
}

.logo_info {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.logo_info_title {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.header_info-place {
  text-align: center;
  max-width: 300px;
}

.adress_title {
  color: #263238;
  font-size: 24px;
}

.text_decoration {
  text-decoration-line: underline;
  text-decoration-color: linear-gradient(20deg, #6a11cb, #2575fc);
  text-decoration-thickness: 2px;
}

.header_phone {
  margin-bottom: 20px;
}

.popup-container {
  position: relative; /* Для корректного позиционирования всплывающего окна */
}

.popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  z-index: 1000;
  top: 110%; /* Появляется под кнопкой */
  left: 50%; /* Выравнивание по центру */
  transform: translateX(-50%); /* Центрирование */
  width: 300px; /* Конкретная ширина для всплывающего окна */
  border-radius: 6px;
}

.popup p {
  margin: 0; /* Убираем лишние отступы */
  font-size: 14px; /* Размер шрифта */
  color: #333; /* Цвет текста */
}

.pulse-text {
  display: flex; /* Используем flexbox для центрирования */
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  cursor: pointer; /* Курсор меняется на указатель */
  animation: pulse 1.5s infinite; /* Применяем анимацию пульсации */
}
.menu-icon {
  display: none;
 }
/* Определяем анимацию пульсации */
@keyframes pulse {
  0% {
    transform: scale(1); /* Исходный размер */
    opacity: 1; /* Полная непрозрачность */
  }
  50% {
    transform: scale(1.05); /* Увеличиваем размер */
    opacity: 0.7; /* Уменьшаем непрозрачность */
  }
  100% {
    transform: scale(1); /* Возвращаем к исходному размеру */
    opacity: 1; /* Полная непрозрачность */
  }

}
@media (max-width: 1024x) {
  .menu-top {
    position: fixed; /* Фиксированное положение, чтобы меню было поверх всего */
    top: 0;
    left: 0;
    width: 100vw; /* Полная ширина */
    height: 100vh; /* Полная высота */
    background-color: #eceff1; /* Полупрозрачный белый фон */
    display: flex; /* Используем flexbox для центровки содержимого */
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрировать по вертикали */
    align-items: start; /* Центрировать по горизонтали */
    z-index: 1000; /* Поместим выше других элементов */
    transition: transform 0.3s ease-in-out; /* Плавный переход для анимации */
    transform: translateX(0); /* Скрыть меню вне экрана по умолчанию */
  }

  

  .menu-top-links {
    background-color: #eceff1;
    display: flex;
    justify-content: start;
    flex-direction: column;
    list-style: none; /* Убираем маркеры списка */
    padding: 5; /* Убираем внутренние отступы */
    margin: 10; /* Убираем внешние отступы */
    width: 100vw; /* Ширина на всю ширину */
  }

  .menu-top-li {
    margin: 20px 0; /* Отступы между пунктами меню */
  }

  .menu-top-link {
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 24px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    transition: color 0.3s; /* Плавный переход для цвета */
  }

  .menu-top-link:hover {
    color: #007bff; /* Цвет при наведении */
  }

  /* Стили для иконки меню */
 
}
@media (max-width: 767px) {
  nav {
    height: 70px;
    padding: 10px;
  }
.nav-links{
  gap: 30px;
}
  .nav-links li {
    display: none; /* Скрыть все элементы списка */
    background: linear-gradient(20deg, #6a11cb, #2575fc);
}


.nav-links li a{
  padding: 10px 20px; /* Padding создаст пространство вокруг текста */
  width: 100%; /* Занимает всю ширину родителя */
  height: 100%; /* Занимает всю высоту родителя */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-links li:first-child,
.nav-links li:last-child {
    width: 100px;
    display: list-item; /* Показать первый и последний элементы */
    color: white; /* Цвет текста */
    border: 2px solid #007bff; /* Обводка того же цвета */
    border-radius: 30px; /* Закругление углов, можно изменить для округления */
    display: flex; /* Используем flexbox для лежачего выравнивания */
    justify-content: center; /* Центрируем горизонтально */
    align-items: center; /* Центрируем вертикально */
    height: 50px; /* Установите необходимую высоту для li */
    padding: 0; /* Убедитесь, что отступы не вызывают проблем с размером */
    transition: background-color 0.3s, border-color 0.3s; /* Плавность изменения цвета при наведении */
}
  .nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-links {
    flex-wrap: wrap;
    & li {
      height: 40px;
    }
  }

  .header_info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    text-align: center;
  }
  .logo_info p {
    font-size: 20px;
  }
  .menu-top {
    position: fixed; /* Фиксированное положение, чтобы меню было поверх всего */
    top: 0;
    left: 0;
    width: 100vw; /* Полная ширина */
    height: 100vh; /* Полная высота */
    background-color: #eceff1; /* Полупрозрачный белый фон */
    display: flex; /* Используем flexbox для центровки содержимого */
    flex-direction: column; /* Вертикальное расположение элементов */
    justify-content: center; /* Центрировать по вертикали */
    align-items: start; /* Центрировать по горизонтали */
    z-index: 1000; /* Поместим выше других элементов */
    transition: transform 0.3s ease-in-out; /* Плавный переход для анимации */
    transform: translateX(0%); /* Скрыть меню вне экрана по умолчанию */
  }



  

  .menu-top-links {
    background-color: #eceff1;
    display: flex;
    justify-content: start;
    flex-direction: column;
    list-style: none; /* Убираем маркеры списка */
    padding: 5; /* Убираем внутренние отступы */
    margin: 10; /* Убираем внешние отступы */
    width: 100vw; /* Ширина на всю ширину */
  }

  .menu-top-li {
    margin: 20px 0; /* Отступы между пунктами меню */
  }

  .menu-top-link {
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 24px; /* Размер шрифта */
    color: #333; /* Цвет текста */
    transition: color 0.3s; /* Плавный переход для цвета */
  }

  .menu-top-link:hover {
    color: #007bff; /* Цвет при наведении */
  }

  /* Стили для иконки меню */
  .menu-top-icon {
    cursor: pointer; /* Указатель при наведении */
    position: relative; /* Относительное позиционирование для других элементов */
    z-index: 1001; /* Выше меню */
  }
  .menu-icon {
    display: block;
    cursor: pointer; /* Указатель при наведении */
    position: relative; /* Относительное позиционирование для других элементов */
    z-index: 1001; /* Выше меню */
    & .opened{
      color: black;
    }
  }
}

