@import "materialize-css/sass/materialize.scss";


@font-face {

  font-weight: normal;
  font-style: normal;
  color: #263238;
  background-color: #eceff1; 
}


strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather 48pt';
  src: url('../fonts/Merriweather48pt-Bold.woff2') format('woff2');
  font-weight: 700;

  color: #28323d; 
}
p {
  font-size: 1.2rem !important;
}
.container {
  min-height: 75vh;
  background: rgba(255, 255, 255, 0.85); /* полупрозрачная «подложка» */
 
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
.wrapper {
  padding-left: calc(50% - 700px);
  padding-right: calc(50% - 700px);
  display: flex;
  position: relative;
}



.btn {
  min-width: 200px;
  border-radius: 1rem;
  margin-top: 10px;
  transition: transform 0.3s ease; // Плавное увеличение

  &:hover {
    transform: scale(1.1); // Увеличиваем в 1.1 раза при наведении
  }
}

.content {
  padding: 1.5rem;
  min-height: calc(100vh - 70px - 64px);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  max-width: 262px;
}
.card-title {
  font-size: 18px;
}
.card .card-title {
  font-size: 1.2rem !important; /* Используйте !important осторожно */
}
.card-content {
  flex-grow: 1;
}

.zoom-image {
  max-width: 100;
  transition: transform 0.3s ease; // Плавное увеличение

  &:hover {
    z-index: 999;
    transform: scale(1.2); // Увеличиваем в 1.1 раза при наведении
  }
}
.page-footer {
  position: relative;
  height: 100px;
}
.whatsapp_float {
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 45px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  animation: ring 1s infinite;
  margin-top: 20px;
}

.slider__indicator {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 50px;
}
.btn-success{
  color: #fff;
  background: linear-gradient(20deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  animation: shine 2s infinite, scaleEffect 2s infinite alternate;
}
@keyframes shine {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* Анимация увеличения */
@keyframes scaleEffect {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.05);
  }
}
@keyframes ring {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(12deg);
  }
  40% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
.whats-app{
  background: linear-gradient(20deg, #6a11cb, #2575fc);
}

@media (max-width: 1040px){
  .main_logo {
    display: none;
  }
  .menu-left{
    display: none;
  }
  nav ul a{
    padding: 0 5px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 1.2rem;
  }
  .header {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }
  .container {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
    
  }
  .wrapper {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
  }

  
  .main-bottom {
    flex-wrap: wrap;
  }

  .menu-left {
    display: none;
  }

  .menu-left.open {
    transform: translateX(0);
  }

  .menu-left-links {
    flex-direction: column;
    gap: 1.4rem;
    padding: 2rem;
  }

  .header_info-wrapper {
    padding-top: 15px;
    flex-wrap: wrap;
  }

  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 30px;
    font-size: 40px;

  }

  .category-list {
    display: flex;

    flex-direction: column;
    align-items: center;
  }
  .slider__title {
    font-size: 22px;
  }
  .slider__button {
    display: none;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
  }
  h1{
    font-size: 24px !important;
  }

}
