
.Main-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .main {
    max-width: 700px;
    display: flex;
    flex-direction: column;
  }
  .main-top {
    display: flex;
  }
  .main-title {
    font-size: 36px;
    font-weight: bold;
  }
  .main-text {
    font-size: 24px;
  }
  .main-icon {
    margin-right: 5px;
    color: #263238;
  }
  .main_logo {
    max-width: 700px;
  }
  .list-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
  }

  .main-bottom {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
  .bottom-item {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-bottom-text {
    text-align: center;
  }
  .main-bottom-logo {
    font-size: 45px;
    color: #263238;
  }
  @media (max-width: 1440px){
    .main_logo {
      display: none;
    }
  }
  @media (max-width: 767px) {

    .menu-left {
      display: none;
    }
  
  
  }


  @media (max-width: 400px) {

    .main h1 {
        font-size: 24px !important;
      }
      .main-title {
        font-size: 24px !important; /* Уменьшаем шрифт */
        margin: 0; /* Убираем лишние отступы */
        padding: 0; /* Убираем лишние внутренние отступы */
        line-height: 1.2; /* Уменьшаем межстрочное расстояние для лучшего вписывания */
      }
  
  }

